@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    color: #333;
}

.first-section {
    top: 40px;
    left: 40px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

li {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.buttonbg {
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    border-style: solid;
    border-color: #E14114;
    background-color: #FFE16E;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*PUSHTEST*/
}

.buttonz {
    color: #E14114;
    text-transform: uppercase;
    font-weight: bold;
}

.textcontent {
    width: 50%;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.background-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.layer {
    top: 0;
    position: absolute;
}

.foreground {
    height: 100%;
    width: 100%;
    background-image: url('../img/foreground.png');
    background-repeat: repeat-x;
    animation: foreground 200s linear infinite;
    background-size: contain;
}

.background {
    height: 100%;
    width: 100%;
    background-image: url('../img/background.png');
    background-repeat: repeat-x;
    animation: background 100s linear infinite;
    background-size: contain;
}

@keyframes foreground {
    from { background-position: 0 0; }
    to { background-position: -2048px; }
}
@keyframes background {
    from { background-position: 0 0; }
    to { background-position: 2048px; }
}


/* DRAGON MOVING START */


.dragon {
    position: absolute;
    background-size: 30%;
}

.wings {
    height: 1546px;
    width: 100%;
    background-image: url("../img/DragonWings.png");
    background-repeat: no-repeat;
    transform: translateX(65%) translateY(10%);
    animation: wings-shift 5s linear infinite;
}

.body {
    height: 1546px;
    width: 100%;
    background-image: url("../img/DragonBody.png");
    background-repeat: no-repeat;
    transform: translateX(65%) translateY(10%);
    animation: body-shift 5s linear infinite;
}

.head {
    height: 1546px;
    width: 100%;
    background-image: url("../img/DragonHead.png");
    background-repeat: no-repeat;
    transform: translateX(65%) translateY(10%);
    animation: head-shift 5s linear infinite;
    z-index: +1;
}

@keyframes wings-shift {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: -20px;
        top: 15px;
    }
    100% {
        left: 0;
        top: 0;
    }
}

@keyframes body-shift {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: -20px;
        top: -3px;
    }
    100% {
        left: 0;
        top: 0;
    }
}

@keyframes head-shift {
    0% {
        left: 0;
        top: 0;
    }
    50% {
        left: -10px;
        top: 5px;
    }
    100% {
        left: 0;
        top: 0;
    }
}


/* DRAGON MOVING STOP */

